body {
  background-color: rgb(30, 30, 30);
  color: white;
}

#output, #loading, #refresh, #cityName {
  display: none;
}

#refresh {
  cursor: pointer;
}

#dir {
  position: absolute;
  margin-top: 28px;
  margin-left: 25px;
  height: 30px
}